@{
   
}

<body background="~/Images/RED bg.jpg">

    <center>
        <h2>
            <b>
                <i>
                    
                    <font color="red">About KZNGBB:</font>
                </i>
                <h4>
                    The KwaZulu-Natal Gaming and Betting Board is a Schedule 3C Public Entity in terms of the Public Finance Management Act.<br />
                    The Board’s mandate is set out in Section 6 of the KwaZulu-Natal Gaming and Betting Act, 08 of 2010. The Board regulates the operations of 5 Casinos, 8 Bingo operations, 4 Route Operators, 498 Site Operators Type A, 50 Bookmaking Businesses, 2 Totalisators, 2 Racecourse Operators and 15 holders of Certificate of Suitability.
                </h4>
            </b>

        </h2>
    </center>
    <hr class="dotted">
    <Center>
        <h2>
            <b>
                <i>
                    <font color="red">Working Hours:</font>
                </i>
            </b>
            <list>
                <h4>


                    <p>
                        <ud>Monday    : 07h00-17h00</ud><br />
                    </p>
                    <p>
                        <ud>Tuesday   : 07h00-17h00</ud><br />
                    </p>

                    <p>
                        <ud>Wednesday : 07h00-17h00</ud><br />
                    </p>

                    <p>
                        <ud>Thursday  : 07h00-17h00</ud><br />
                    </p>
                    <ud>Friday    : 07h00-17h00</ud>
                </h4>
            </list>

        </h2>

    </Center>

</body>
<style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>

<div class="row">
    <div class="column">

        <img src="~/Images/black-rockCasino.jpg" width="300"height="150" />
       
    </div>
    <div class="column">
        <img src="~/Images/GoldenHourseCasino.jpg" width="300" height="150" />
    </div>
    <div class="column">
        <img src="~/Images/SibayaCasino.jpg"width="300"height="150" />
       
    </div>
    <div class="column">
        
        <img src="~/Images/Suncoast_Casino.jpg" width="300" height="150" />

    </div>
    <div class="column">

        <img src="~/Images/UmfoloziCasino.jpg" width="300" height="150" />

    </div>
</div>
<style>
    /* Dashed border */
hr.dashed {
  border-top: 3px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}


</style>
