
@{
    ViewBag.Title = "";
}
                    <Center> <h2>
                        <i>Board Information
                        </i>
                                  </h2></Center>
@*/////////////////////////////////*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Style the buttons */
    .btn {
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: #f1f1f1;
        cursor: pointer;
    }

        .btn:hover {
            background-color: #ddd;
        }

        .btn.active {
            background-color: #666;
            color: white;
        }
</style>
    </head>
<body>

    <div id="btnContainer">
        <button class="btn" onclick="listView()"><i class="fa fa-bars"></i> List</button>
        <button class="btn active" onclick="gridView()"><i class="fa fa-th-large"></i> Grid</button>
    </div>
    <br>

    <div class="row">
        <div class="column" style="background-color:#aaa;">
        
            <h2>The Objects of the Board, as outlined in Chapter 2, Section (1) of the KwaZulu-Natal Gaming and Betting Act, 2010 is as follows:</h2>
                <ul style="list-style-type:circle;">
                    <li>
                        Ensure that all gambling authorised under this Act is conducted in a manner which promotes the integrity of the gambling industry and does not cause harm to the public interest.
                    </li>
                    </br>
                    <li>sure that all gaming authorised under this Act promotes the Province’s objectives for developing a gaming industry which objectives are the promotion of tourism, employment and economic and social development</li>
                   
                    </br> <li>omote opportunities for historically disadvantaged persons to participate in the horse racing and betting industries in the capacity of any of the persons required to be licenced or registered in terms of section 89, 94, 103, 110 or 111;</li>
                    </br>
                    <li>Increase the ownership stakes of historically disadvantaged persons in horse racing and betting industries.</li>
                    
                    </br><li>
                        evelop appreciation for and knowledge of horse racing amongst all communities particularly those comprised of historically disadvantaged persons in the horse racing and betting industries.
                    
                    </li>
                    </br>
                    <li>
                        Limit restrictive practises, the abuse of dominant market position and mergers in the betting industry, as contemplated in the Competition Act, a regulatory authority as defined in section 1 of that Act.
                    </li>
                </ul>  
            
            </h2>
        </div>
        <div class="column" style="background-color:#bbb;">
            <h2>Key imperatives</h2>
            <p>As the Board is involved in an economic sector, it has an extended responsibility to ensure compliance, conduct investigations and issue offence notice under the Financial Intelligence Centre Act, 2001, in so far as it applied to the gambling industry. This involves the conduct of FICA Audits. The Board strives to limit the negative impact on society through effective law enforcement, the eradication of illegal gambling and investigation of all reported cases of fraud and corruption within the industry. This involves the conduct of FICA Audits. The Board strives to limit the negative impact on society through effective law enforcement, the eradication of illegal gambling and investigation of all reported cases of fraud and corruption within the industry. In essence,As the Board is involved in an economic sector, it has an extended responsibility to ensure compliance, conduct investigations and issue offence notice under the Financial Intelligence Centre Act, 2001, in so far as it applied to the gambling industry. This involves the conduct of FICA Audits. The Board strives to limit the negative impact on society through effective law enforcement, the eradication of illegal gambling and investigation of all reported cases of fraud and corruption within the industry.</p>
            <p>
                Key imperatives of KZNGBB include the following:
                <ul style="list-style-type:circle;">
                    <li>
                        Creating Jobs and improving livelihoods through new gaming initiatives;
                        </li>
                    <li>
                        Contribution to growth of the SMME (Small to Medium and Micro Enterprises) sector through relevant gaming initiatives;
                    </li>
                    <li>
                        Contribution to BBBEE and CSI policies for licensees;
                    </li>
                    <li>
                        Fighting corruption and enhancing accountability through our Monitoring and Law Enforcement Units; and
                    </li>
                    <li>
                        Broadening social protection through responsible gambling initiative.
                    </li>
                   
                    </ul>
                In 2012/2013 and 2013/ 2014 financial years the KwaZulu-Natal Gaming and Betting Board , on behalf of the KwaZulu-Natal Provincial Government, collected R494 Million and R526 Million respectively
            </p>
        </div>
    </div>

    <div class="row">
        <div class="column" style="background-color:#ccc;">
            <h2>Situational Analysis. Service Delivery Environment</h2>
            <p>The 2013/14 MTEF that was tabled for KZN was guided by Government priorities which have been integrated into the new growth path. Of the key imperatives, KZNGBB contributes to the following:</p>
            <ul style="list-style-type:circle;">
                <li>
                    Creating Jobs and improving livelihoods through new gaming initiatives;
                </li>
                </br>
                <li>
                    Contribution to growth in SMME development through distribution in urban and rural spaces through LPM and Bingo geographic spread;
                </li>
                <li>
                    Contribution to BBBEE and CSI policies for licensees;
                </li>
                </br>
                <li>
                    Fighting corruption and enhancing accountability through our Monitoring and Law Enforcement Units; and
                </li>
                </br>
                <li>
                    Broadening social protection through responsible gambling initiatives.
                </li>
                </ul>
                    
        </div>
        <div class="column" style="background-color:#ddd;">
            <h2>The KZNGBB set its predetermined objectives and achieved its deliverables and budget expectations in terms of the KZN Vote – Office of the Premier Budget for 2013/14, as follows:</h2>
            <p>
                <ul style="list-style-type:circle;">
                    <li>
                        The Board has collected and exceeded the projected revenue for the Province for the financial year – 108.1% of the budgeted amount. The review of fees and taxes for gambling industry was completed and promulgated, effective 1 September 2013.
                        </li>
                    <li>
                        The KZN Gaming and Betting Act amendments are in progress.
                    </li>
                    </br>
                    <li>
                        The KZNGBB is currently meeting the objective of promotion of employment, capital investment, corporate social investment projects and economic linkages to the wider economy notably in the area of tourism through the roll out of Bingo and other new licensing initiatives, ensuring CSI contributions are made by licensees.
                    </li>
                    </ul>
            </p>
        </div>
    </div>

    <script>
// Get the elements with class="column"
var elements = document.getElementsByClassName("column");

// Declare a loop variable
var i;

// List View
function listView() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.width = "100%";
  }
}

// Grid View
function gridView() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.width = "50%";
  }
}

/* Optional: Add active class to the current button (highlight it) */
var container = document.getElementById("btnContainer");
var btns = container.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
    </script>

</body>


