
@{
    ViewBag.Title = "";
}
<center>
    <h2>Organisational Structure | Functions</h2>

</center>
<hr class="dotted">

<p>
    The KZNGBB continues to ensure the suitability of all applicants through conducting probity investigations, as well as through the processing of renewal of licences and registration certificates. As a result of the new licensing initiatives (Totalisator agents and Bingo roll out), there has been a significant increase in work load.

    In order to ensure that service delivery is not negatively affected, an assessment of resources within the Licensing and Registration Department is in progress and a business reengineering process project is planned for the next financial year to automate and streamline operational processes. The Entity continues to ensure the efficient and effective monitoring, compliance and control of the Gaming and Betting Industry through the Monitoring and Compliance Division.
</p>
<hr />
<p>
    Compliance and monitoring audits are conducted on all licensees to ensure compliance by licensees with regulatory and legislative requirements (licence conditions, bid commitments, corporate social investment, employment equity, BBBEE, accounting and internal control procedures, gaming equipment, LPM sites etc.) in respect of their gambling operations. Monthly tax validations are undertaken to ensure the accurate collection of gaming and betting taxes payable to the Province.

    In the next financial year, the Board plans to further focus on CSI and Socio-Economic Development guidelines for the industry. The Board had over the past financial reporting period, reviewed its strategy and policies, post the merge of the erstwhile KZN Gambling Board and the KZN Bookmakers Control Committee.
</p>
<hr />
<p>
    Specific focus has been given to institutional alignment which includes initiatives such as reviewing business processes and improving on financial controls and the reporting of financial information. The continued implementation of the Provincial Recovery Plan remains a key objective. The Board has continued to fulfill its mandate through its strategic objectives and the 2013/14 financial year saw an improvement in overall performance. 87% of planned performance targets were achieved, and the Board received an unqualified audit opinion for the 2013/14 financial period.
</p>
<hr class="dotted">

<center>

    <img src="~/Images/Org-Chart.gif" />
</center>

<style>
    /* Dashed border */
    hr.dashed {
        border-top: 3px dashed #bbb;
    }

    /* Dotted border */
    hr.dotted {
        border-top: 3px dotted #bbb;
    }

    /* Solid border */
    hr.solid {
        border-top: 3px solid #bbb;
    }

    /* Rounded border */
    hr.rounded {
        border-top: 8px solid #bbb;
        border-radius: 5px;
    }
</style>