
@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>
<div class="section_wrapper mcb-section-inner">
    <div class="wrap mcb-wrap mcb-wrap-hxgprrm3c one  valign-top clearfix" style="">
        <div class="mcb-wrap-inner">
            <div class="column mcb-column mcb-item-9zd0w48dz one column_column">
                <div class="column_attr clearfix" style="">
                    <h6>THE BOARD</h6>
                    <div id="awsm-team-243" class="awsm-grid-wrapper">
                        <div class="awsm-grid cards-style style-3 grid-4-col ">
                            <div id="awsm-member-243-242" class="awsm-grid-card">
                                <figure>
                                    <!-- <span class="awsm-grid-holder"> -->
                                    <img src="https://www.wcgrb.co.za/wp-content/uploads/2019/03/Mr-D-Lakay.png" alt="Mr. D Lakay">
                                    <figcaption class="awsm-figcaption">
                                        <div class="awsm-personal-info">
                                            <h3>Mr. D Lakay</h3>
                                            <span>Board Chairperson</span>
                                        </div> <!-- .awsm-personal-info -->
                                        <div class="awsm-contact-info">
                                            <div class="awsm-social-icons"><span><a href="https://www.linkedin.com/in/david-lakay-119417a0/" target="_blank"><i class="awsm-icon-linkedin" aria-hidden="true"></i></a></span></div>
                                        </div> <!-- .awsm-contact-info -->
                                    </figcaption>
                                    <!-- </span> -->
                                    <!-- .awsm-grid-holder -->
                                </figure>
                            </div>
                            <div id="awsm-member-243-246" class="awsm-grid-card">
                                <figure>
                                    <!-- <span class="awsm-grid-holder"> -->
                                    <img src="https://www.wcgrb.co.za/wp-content/uploads/2019/03/Chuma.png" alt="Ms. C Fani">
                                    <figcaption class="awsm-figcaption">
                                        <div class="awsm-personal-info">
                                            <h3>Ms. C Fani</h3>
                                            <span>Board Member</span>
                                        </div> <!-- .awsm-personal-info -->
                                        <div class="awsm-contact-info">
                                        </div> <!-- .awsm-contact-info -->
                                    </figcaption>
                                    <!-- </span> -->
                                    <!-- .awsm-grid-holder -->
                                </figure>
                            </div>
                            <div id="awsm-member-243-248" class="awsm-grid-card">
                                <figure>
                                    <!-- <span class="awsm-grid-holder"> -->
                                    <img src="https://www.wcgrb.co.za/wp-content/uploads/2019/03/Mr-CA-Bassuday.png" alt="Mr. C Bassuday">
                                    <figcaption class="awsm-figcaption">
                                        <div class="awsm-personal-info">
                                            <h3>Mr. C Bassuday</h3>
                                            <span>Board Member</span>
                                        </div> <!-- .awsm-personal-info -->
                                        <div class="awsm-contact-info">
                                        </div> <!-- .awsm-contact-info -->
                                    </figcaption>
                                    <!-- </span> -->
                                    <!-- .awsm-grid-holder -->
                                </figure>
                            </div>
                            <div id="awsm-member-243-249" class="awsm-grid-card">
                                <figure>
                                    <!-- <span class="awsm-grid-holder"> -->
                                    <img src="https://www.wcgrb.co.za/wp-content/uploads/2019/03/Mr-S-Faku.png" alt="Mr. S Faku">
                                    <figcaption class="awsm-figcaption">
                                        <div class="awsm-personal-info">
                                            <h3>Mr. S Faku</h3>
                                            <span>Board Member</span>
                                        </div> <!-- .awsm-personal-info -->
                                        <div class="awsm-contact-info">
                                        </div> <!-- .awsm-contact-info -->
                                    </figcaption>
                                    <!-- </span> -->
                                    <!-- .awsm-grid-holder -->
                                </figure>
                            </div>
                            <div id="awsm-member-243-250" class="awsm-grid-card">
                                <figure>
                                    <!-- <span class="awsm-grid-holder"> -->
                                    <img src="https://www.wcgrb.co.za/wp-content/uploads/2019/03/Magazi.png" alt="Ms. N Magazi">
                                    <figcaption class="awsm-figcaption">
                                        <div class="awsm-personal-info">
                                            <h3>Ms. N Magazi</h3>
                                            <span>Board Member</span>
                                        </div> <!-- .awsm-personal-info -->
                                        <div class="awsm-contact-info">
                                            <div class="awsm-social-icons"><span><a href="https://www.linkedin.com/in/noluyolo-magazi-84869139/" target="_blank"><i class="awsm-icon-linkedin" aria-hidden="true"></i></a></span></div>
                                        </div> <!-- .awsm-contact-info -->
                                    </figcaption>
                                    <!-- </span> -->
                                    <!-- .awsm-grid-holder -->
                                </figure>
                            </div>
                            <div id="awsm-member-243-247" class="awsm-grid-card">
                                <figure>
                                    <!-- <span class="awsm-grid-holder"> -->
                                    <img src="https://www.wcgrb.co.za/wp-content/uploads/2019/03/Ms-Nyati.png" alt="Ms. L Nyati">
                                    <figcaption class="awsm-figcaption">
                                        <div class="awsm-personal-info">
                                            <h3>Ms. L Nyati</h3>
                                            <span>Board Member</span>
                                        </div> <!-- .awsm-personal-info -->
                                        <div class="awsm-contact-info">
                                        </div> <!-- .awsm-contact-info -->
                                    </figcaption>
                                    <!-- </span> -->
                                    <!-- .awsm-grid-holder -->
                                </figure>
                            </div>
                            <div id="awsm-member-243-284" class="awsm-grid-card">
                                <figure>
                                    <!-- <span class="awsm-grid-holder"> -->
                                    <img src="https://www.wcgrb.co.za/wp-content/plugins/awsm-team/images/default-user.png" alt="Mr. N Nicholls">
                                    <figcaption class="awsm-figcaption">
                                        <div class="awsm-personal-info">
                                            <h3>Mr. N Nicholls</h3>
                                            <span>Board Member</span>
                                        </div> <!-- .awsm-personal-info -->
                                        <div class="awsm-contact-info">
                                        </div> <!-- .awsm-contact-info -->
                                    </figcaption>
                                    <!-- </span> -->
                                    <!-- .awsm-grid-holder -->
                                </figure>
                            </div>
                        </div><!-- .grid -->
                    </div>
