@{
    ViewBag.Title = "ContactUs";
}


<br />
<div class="row top_margin">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="text-center">Success</h2>
            </div>
            <div class="panel-body">
                <h4> <b>Thank you for.</b></h4>
                <h4>
                    Your Feedback was submitted  successfully.
                    Please Click <b>Continue</b>
                </h4>

            </div>
            <div class="panel-footer">
                <a href="@Url.Action("Index","Home")" class="btn btn-success btn-success">Ok Continue</a>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
